* {
    box-sizing: border-box;
   
  }

#grid-container{
    width: 404px;
    height: 404px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

#centre-page{
  display: flex;
  flex-direction: row;
}

#eraser{
  width: 50px;
  height: 35px;
  background-color: lightgrey;
}


